# ===============================
# Data (trop lourd)
# ===============================

pytorch_baseline/dataset/

# =====================
# Outputs d'entraînement
# =====================

pytorch_baseline/experiments/



# ===============================
# TensorFlow baseline outputs
# ===============================
tensorflow_baseline/experiments/

# ===============================
# Python cache
# ===============================
*.pyc
__pycache__/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS / editor
# ===============================
.DS_Store
Thumbs.db


