# ===============================
# Data (trop lourd)
# ===============================

pytorch_experiments/dataset/

# =====================
# Outputs d'entraînement
# =====================
pytorch_experiments/runs/
experiments/
pytorch_experiments/results/

# ===============================
# TensorFlow baseline outputs
# ===============================
tensorflow_baseline/experiments/

# ===============================
# Python cache
# ===============================
*.pyc
__pycache__/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS / editor
# ===============================
.DS_Store
Thumbs.db


